{% extends "::base.html.twig" %}

{% block title %}
    {{ parent() ~ ' Home' }}
{% endblock %}

{% block body %}
    {{ parent() }}

    {#<h1>cours de {{ name }}</h1>#}

{% include("AppBundle:Article/Partial:list.html.twig") %}

{% endblock %}