body{
    background:rgba(8, 16, 22, 0.6);
    width:90%;
    margin:auto;
    font-size:2em;
    font-family:Lato;
    font-weight:100;
    color:rgb(255, 255, 255);
    text-align: center;
}

h3 {
    color: white !important;
}

li {
    list-style: none;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;
}

:-ms-input-placeholder {
    text-align: center;
}